*{ margin:0px; padding:0px;}
/*下拉列表、时间控件、查询*/
/*body{
  height: 800px;
}*/
/*覆盖样式*/
.datebox .combo-arrow {
  background-image: url('../../images/datebox_arrow1.png');
  background-position: center center;
      padding-right: 12px;

}
.datebox .combo-arrow:hover {
  background-image: url('../../images/datebox_arrow2.png');
  background-position: center center;
}
.datagrid-btable .datagrid-cell-c1-time,
.datagrid-btable .datagrid-cell-c1-data,
.datagrid-btable .datagrid-cell-c1-fkpeople {
color: #666666;
  font-size: 14px;
}














.search {
  /*float: left;*/
  margin-left: 10px;

}
.search-one {
  float: left;
  margin:15px 20px 0 0;
}
.search-two {
  float: left;
  margin:15px 20px 0 0;
}
.search-three {
  float: left;
  margin:15px 20px 0 0;
}
.search-four {
  float: left;
  margin:15px 20px 0 0;
}
.search-five {
  float: left;
  margin:10px 0 0 0px;
}
.search-five button{
  width: 73px;
  height: 31px;
  background-color:#1bbe0a;
  color: #fff;
  border: 1px solid transparent;
  font-size: 16px;
}

.search-five button:hover{
background-color:#1bbe0a;
}
.select-one{
  width: 120px;
  height: 24px;
}
.select-two{
  width: 120px;
  height: 24px;
}


/*新建*/
/*
.clearfix:after {
    clear: both;
    content: "";
    height: 0;
    visibility: hidden;
    overflow: hidden;;
    display: block;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
/*}*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

   .newly{ 
        background-color:#e98f14; 
        width:90px; 
        height:40px; 
        margin:20px 0px 0px 10px;
        /*margin:0 auto;*/
      /* position: relative;
        top:60px;
        left: 20px;*/
    }
    .newly-one,.newly-two{ 
        z-index: 99;
        list-style:none;
        position:absolute;
    }
    .newly-one li{ 
        float:left;  
        line-height:40px; 
        text-align:center; 
        position:relative;
    }
    .newly-one li a{ 
        text-decoration:none; 
        color:#ffffff; 
        display:block; 
        width:90px;
    }
  /*  a:hover{ 
        color:#FFF; 
        background-color:#666;
    }*/
    .newly-two li{ 
        float:none; 
        background-color:#fff;
/*        border-left:1px solid #000;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000; */
        font-size: 14px;
  
    } 

    .newly-two li a{
        text-decoration:none; 
        display:block; 
        width:90px; 
        color: #000;
    }
    .newly-two li a:hover{
      color: #ffffff;
      background-color: #d79d10;
    }
    .newly-two{   
        display:none; 
        width:90px; 
        
        /*border: 1px solid #000;*/
      }

    .newly-one li:hover .newly-two{ 
        display:block;
    }


.textbox {
  position: relative;
  border: 0px solid #95B8E7;
  background-color: #fff;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0px;
  border-bottom: 2px solid #ffffff;
}

.combo-arrow {
  background-color: #fff;
}
.combo-arrow:hover {
  background-color: #ffffff;
}
.textbox:hover {
  border-bottom: 2px solid #00a6de;
}
/*froms 开始*/

.froms {
  margin:20px 10px 0 10px;
  overflow: hidden;
}

.datagrid-header-row,
.datagrid-row {
  height: 40px;
}
.datagrid-header td,
.datagrid-body td,
.datagrid-footer td {
  border-width: 0 1px 1px 0;
  border-style: none;
  margin: 0;
  padding: 0;
}

.panel-header, .panel-body {
    border-color: #ffffff;
}

.datagrid-header,
.datagrid-td-rownumber {
  background-color: #00a7de;
  background: -webkit-linear-gradient(top,#68c5e9,#68c5e9);
  background: -moz-linear-gradient(top,#68c5e9,#68c5e9);
  background: -o-linear-gradient(top,#68c5e9,#68c5e9);
  background: linear-gradient(to bottom,#68c5e9,#68c5e9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9,endColorstr=#efefef,GradientType=0);
}

.datagrid-header .datagrid-cell span {
    font-size: 16px;
    color: #ffffff;
}
.easyui-datagrid .thsss {
  width: 100px;

}

.datagrid-header td.datagrid-header-over {
  background: #68c5e9;
  color: #000000;
  cursor: default;
}

.datagrid-row-over {
  background: #bcd5e4;
  color: #000000;
  cursor: default;
}
.datagrid-row-selected {
  background: #bcd5e4;
  color: #000000;
}

.datagrid-body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  zoom: 1;
}


.datagrid-btable .datagrid-cell-c1-itemid {
  color: #333333;
  font-size: 14px;
}
/*.datagrid-cell-c1-productid , .datagrid-cell-c1-attr1 {
  color: #333333;
  font-family: 'Microsoft B';
  font-size: 14px;
  font-weight: bold;
}*/
 .datagrid-btable .datagrid-cell-c1-productid,
 .datagrid-btable .datagrid-cell-c1-attr1{
  color: #666666;
  font-family: '微软雅黑';
  font-size: 14px;
  font-weight: bold;
}
.datagrid-btable .datagrid-cell-c1-listprice {
  color: #333333;
  font-size: 14px;
}
.datagrid-btable .datagrid-cell-c1-unitcost {
  color: #ed6216;
  font-size: 14px;
  font-family: 'Microsoft B';
  font-weight: bold;
}
.datagrid-btable .datagrid-cell-c1-status {
  color: #666666;
  font-size: 14px;
}
/*.datagrid-cell-c1-status {
  color: #656565;
  font-size: 14px;
}*/

/*froms 结束*/


