<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>下发操作票</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../public/jquery-easyui-1.5.2/themes/default/easyui.css">
  <link rel="stylesheet" type="text/css" href="../../public/jquery-easyui-1.5.2/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="../public/jquery-easyui-1.5.2/demo/demo.css">

  <link rel="stylesheet" type="text/css" href="../public/jquery-easyui-1.5.2/themes/default/easyui.css">
  <link rel="stylesheet" type="text/css" href="../public/jquery-easyui-1.5.2/themes/icon.css">
  <link rel="stylesheet" href="../uploads/selfCss/base.css">
  <link rel="stylesheet" href="../uploads/selfCss/feedback.css">
</head>
<body>
  <!-- 头部开始 -->
  <div class="header">
    <div class="header-left">铁路发油验车操作票</div>
    <div class="header-right">TLYC-20170506004</div>
  </div>

  <!-- 内容部分开始 -->
  <form class="head-form">
    <div class="content">

      <div class="cont-nav">
        <input id="nav-btnA" type="button" value="查看作业计划">
        <div class="nav-right">
          <input id="nav-btnB" type="button" value="保存">
          <input id="nav-btnC" type="button" value="提交">
        </div>
      </div>

      <div class="cont-bottom">
          <div class="bot-head">
            <div class="bot-head-left">操作指令</div>
            <div class="bot-head-right">
              <div class="head-right-name">下发人 : 王立伟</div>
              <div class="head-right-time">2017.05.05 10:00</div>
            </div>
          </div>
          <div class="bot-foot">
            <div class="bot-foot-left">例行说明</div>
            <div class="bot-foot-right">
              <textarea></textarea>
            </div>
            
          </div>
        </div>
      </div>
  </form>
<!-- 底部开始 -->
  

  </div>






</body>
<script type="text/javascript" src="../public/jquery-easyui-1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="../public/jquery-easyui-1.5.2/jquery.easyui.min.js"></script>

<script type="text/javascript" src="../uploads/selfJs/feedback.js"></script>
</html>