<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>登录</title>
  <link rel="stylesheet" href="../uploads/selfCss/login.css">
</head>
<body>
  <canvas id="canvas">
    



  </canvas>
  <div class="L-header">
    <div class="header-first">SWS</div>
    <div class="header-last"><p>智能油库</p><span id="header-num">2.0</span></div>
    
  </div>
  <div class="L-content">
    <form id="l-from">
      <input class="from-login" id="login-name" type="text" placeholder="账号名">
      <span id="from-pointA"></span><br>
      <input class="from-login" id="login-password" type="password" placeholder="密码">
      <span id="from-pointB"></span> <br>
      <!-- <input class="from-yz" type="text" placeholder="验证码"> <span class="from-yz-span"></span><br> -->
      <a href="../index.html" class="from-submit">登录</a>
    </form>
  </div>
</body>
<script src="../public/jquery-2.1.4.js"></script>
<script src="../uploads/selfjs/login.js"></script>
</html>