<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>资源监控</title>
  <link rel="stylesheet" href="../uploads/selfCss/base.css">
  <link rel="stylesheet" href="../uploads/selfCss/monitor.css">
</head>
<body>
  <div class="monitors">
      <!-- 第一个 -->
      <div class="monitor">
        <!-- 上部分 -->
        <div class="monitor-top" data-sex="0">
          <span class="monitor-top-one">T1</span>
          <span class="monitor-top-two">铁路发</span>
          <span class="monitor-top-three">92#汽油</span>
        </div>
        <!-- 下部分 -->
        <div class="monitor-bottom">
          <div class="monitor-bottom-picter">
            <a href="ls.html"><img src="../images/bottom.png" alt=""></a>
          </div>
          <div class="monitor-bottom-data">
            <div class="monitor-data-top">
              <span class="monitor-data-one">实时</span>
              <span class="monitor-data-two">4300t</span>
              <span class="monitor-data-three">4.1m</span>
            </div>
            <div class="monitor-data-top">
              <span class="monitor-datas-one">计量</span>
              <span class="monitor-datas-two">500t</span>
              <span class="monitor-datas-three">1m</span>
            </div>
          </div>
          <div class="monitor-times">
              <span class="monitor-times-day">当天</span>
          </div>
        </div>   
      </div>
      <div class="monitor">
        <!-- 上部分 -->
        <div class="monitor-top" data-sex="0">
          <span class="monitor-top-one">T2</span>
          <span class="monitor-top-two">铁路发</span>
          <span class="monitor-top-three">92#汽油</span>
        </div>
        <!-- 下部分 -->
        <div class="monitor-bottom">
          <div class="monitor-bottom-picter">
            <a href="ls.html"><img src="../images/bottom.png" alt=""></a>
          </div>
          <div class="monitor-bottom-data">
            <div class="monitor-data-top">
              <span class="monitor-data-one">实时</span>
              <span class="monitor-data-two">4300t</span>
              <span class="monitor-data-three">4.1m</span>
            </div>
            <div class="monitor-data-top">
              <span class="monitor-datas-one">计量</span>
              <span class="monitor-datas-two">500t</span>
              <span class="monitor-datas-three">1m</span>
            </div>
          </div>
          <div class="monitor-times">
              <span class="monitor-times-day">当天</span>
          </div>
        </div>   
      </div>
      <div class="monitor">
        <!-- 上部分 -->
        <div class="monitor-top" data-sex="0">
          <span class="monitor-top-one">T3</span>
          <span class="monitor-top-two">铁路发</span>
          <span class="monitor-top-three">92#汽油</span>
        </div>
        <!-- 下部分 -->
        <div class="monitor-bottom">
          <div class="monitor-bottom-picter">
            <a href="ls.html"><img src="../images/bottom.png" alt=""></a>
          </div>
          <div class="monitor-bottom-data">
            <div class="monitor-data-top">
              <span class="monitor-data-one">实时</span>
              <span class="monitor-data-two">4300t</span>
              <span class="monitor-data-three">4.1m</span>
            </div>
            <div class="monitor-data-top">
              <span class="monitor-datas-one">计量</span>
              <span class="monitor-datas-two">500t</span>
              <span class="monitor-datas-three">1m</span>
            </div>
          </div>
          <div class="monitor-times">
              <span class="monitor-times-day">前一天</span>
          </div>
        </div>   
      </div>
      <div class="monitor">
        <!-- 上部分 -->
        <div class="monitor-top" data-sex="0">
          <span class="monitor-top-one">T4</span>
          <span class="monitor-top-two">铁路发</span>
          <span class="monitor-top-three">92#汽油</span>
        </div>
        <!-- 下部分 -->
        <div class="monitor-bottom">
          <div class="monitor-bottom-picter">
            <a href="ls.html"><img src="../images/bottom.png" alt=""></a>
          </div>
          <div class="monitor-bottom-data">
            <div class="monitor-data-top">
              <span class="monitor-data-one">实时</span>
              <span class="monitor-data-two">4300t</span>
              <span class="monitor-data-three">4.1m</span>
            </div>
            <div class="monitor-data-top">
              <span class="monitor-datas-one">计量</span>
              <span class="monitor-datas-two">500t</span>
              <span class="monitor-datas-three">1m</span>
            </div>
          </div>
          <div class="monitor-times">
              <span class="monitor-times-day">前一天</span>
          </div>
        </div>   
      </div>
      <div class="monitor">
        <!-- 上部分 -->
        <div class="monitor-top" data-sex="0">
          <span class="monitor-top-one">T5</span>
          <span class="monitor-top-two">铁路发</span>
          <span class="monitor-top-three">92#汽油</span>
        </div>
        <!-- 下部分 -->
        <div class="monitor-bottom">
          <div class="monitor-bottom-picter">
            <a href="ls.html"><img src="../images/bottom.png" alt=""></a>
          </div>
          <div class="monitor-bottom-data">
            <div class="monitor-data-top">
              <span class="monitor-data-one">实时</span>
              <span class="monitor-data-two">4300t</span>
              <span class="monitor-data-three">4.1m</span>
            </div>
            <div class="monitor-data-top">
              <span class="monitor-datas-one">计量</span>
              <span class="monitor-datas-two">500t</span>
              <span class="monitor-datas-three">1m</span>
            </div>
          </div>
          <div class="monitor-times">
              <span class="monitor-times-day">前二天</span>
          </div>
        </div>   
      </div>
      <div class="monitor">
        <!-- 上部分 -->
        <div class="monitor-top" data-sex="0">
          <span class="monitor-top-one">T6</span>
          <span class="monitor-top-two">铁路发</span>
          <span class="monitor-top-three">92#汽油</span>
        </div>
        <!-- 下部分 -->
        <div class="monitor-bottom">
          <div class="monitor-bottom-picter">
            <a href="ls.html"><img src="../images/bottom.png" alt=""></a>
          </div>
          <div class="monitor-bottom-data">
            <div class="monitor-data-top">
              <span class="monitor-data-one">实时</span>
              <span class="monitor-data-two">4300t</span>
              <span class="monitor-data-three">4.1m</span>
            </div>
            <div class="monitor-data-top">
              <span class="monitor-datas-one">计量</span>
              <span class="monitor-datas-two">500t</span>
              <span class="monitor-datas-three">1m</span>
            </div>
          </div>
          <div class="monitor-times">
              <span class="monitor-times-day">前三天</span>
          </div>
        </div>   
      </div>
      
      <!-- 第二个 -->
      <div class="monitor">
        <!-- 上部分 -->
        <div class="monitor-top" data-sex="1">
          <span class="monitor-top-one">T7</span>
          <span class="monitor-top-two"></span>
          <span class="monitor-top-three">95#汽油</span>
        </div>
        <!-- 下部分 -->
        <div class="monitor-bottom">
          <div class="monitor-bottom-picter">
            <a href="ls.html"><img src="../images/hui.png" alt=""></a>
          </div>
          <div class="monitor-bottom-data">
            <div class="monitor-data-top">
              <span class="monitor-data-one">实时</span>
              <span class="monitor-data-two">4300t</span>
              <span class="monitor-data-three">4.1m</span>
            </div>
            <div class="monitor-data-top">
              <span class="monitor-datas-one">计量</span>
              <span class="monitor-datas-two">500t</span>
              <span class="monitor-datas-three">1m</span>
            </div>
          </div>
          <div class="monitor-times">
              <span class="monitor-times-day">当天</span>
          </div>
        </div>   
      </div>
      <div class="monitor">
        <!-- 上部分 -->
        <div class="monitor-top" data-sex="1">
          <span class="monitor-top-one">T8</span>
          <span class="monitor-top-two"></span>
          <span class="monitor-top-three">95#汽油</span>
        </div>
        <!-- 下部分 -->
        <div class="monitor-bottom">
          <div class="monitor-bottom-picter">
            <a href="ls.html"><img src="../images/hui.png" alt=""></a>
          </div>
          <div class="monitor-bottom-data">
            <div class="monitor-data-top">
              <span class="monitor-data-one">实时</span>
              <span class="monitor-data-two">4300t</span>
              <span class="monitor-data-three">4.1m</span>
            </div>
            <div class="monitor-data-top">
              <span class="monitor-datas-one">计量</span>
              <span class="monitor-datas-two">500t</span>
              <span class="monitor-datas-three">1m</span>
            </div>
          </div>
          <div class="monitor-times">
              <span class="monitor-times-day">前三天</span>
          </div>
        </div>   
      </div>
      <div class="monitor">
        <!-- 上部分 -->
        <div class="monitor-top" data-sex="1">
          <span class="monitor-top-one">T9</span>
          <span class="monitor-top-two"></span>
          <span class="monitor-top-three">95#汽油</span>
        </div>
        <!-- 下部分 -->
        <div class="monitor-bottom">
          <div class="monitor-bottom-picter">
            <a href="ls.html"><img src="../images/hui.png" alt=""></a>
          </div>
          <div class="monitor-bottom-data">
            <div class="monitor-data-top">
              <span class="monitor-data-one">实时</span>
              <span class="monitor-data-two">4300t</span>
              <span class="monitor-data-three">4.1m</span>
            </div>
            <div class="monitor-data-top">
              <span class="monitor-datas-one">计量</span>
              <span class="monitor-datas-two">500t</span>
              <span class="monitor-datas-three">1m</span>
            </div>
          </div>
          <div class="monitor-times">
              <span class="monitor-times-day">前一天</span>
          </div>
        </div>   
      </div>
      <div class="monitor">
        <!-- 上部分 -->
        <div class="monitor-top" data-sex="1">
          <span class="monitor-top-one">T10</span>
          <span class="monitor-top-two"></span>
          <span class="monitor-top-three">95#汽油</span>
        </div>
        <!-- 下部分 -->
        <div class="monitor-bottom">
          <div class="monitor-bottom-picter">
            <a href="ls.html"><img src="../images/hui.png" alt=""></a>
          </div>
          <div class="monitor-bottom-data">
            <div class="monitor-data-top">
              <span class="monitor-data-one">实时</span>
              <span class="monitor-data-two">4300t</span>
              <span class="monitor-data-three">4.1m</span>
            </div>
            <div class="monitor-data-top">
              <span class="monitor-datas-one">计量</span>
              <span class="monitor-datas-two">500t</span>
              <span class="monitor-datas-three">1m</span>
            </div>
          </div>
          <div class="monitor-times">
              <span class="monitor-times-day">前二天</span>
          </div>
        </div>   
      </div>

      <!-- 第三个 -->
      <div class="monitor">
        <!-- 上部分 -->
        <div class="monitor-top" data-sex="2">
          <span class="monitor-top-one">T11</span>
          <span class="monitor-top-two">管输收</span>
          <span class="monitor-top-three">98#汽油</span>
        </div>
        <!-- 下部分 -->
        <div class="monitor-bottom">
          <div class="monitor-bottom-picter">
            <a href="ls.html"><img src="../images/top.png" alt=""></a>
          </div>
          <div class="monitor-bottom-data">
            <div class="monitor-data-top">
              <span class="monitor-data-one">实时</span>
              <span class="monitor-data-two">4300t</span>
              <span class="monitor-data-three">4.1m</span>
            </div>
            <div class="monitor-data-top">
              <span class="monitor-datas-one">计量</span>
              <span class="monitor-datas-two">500t</span>
              <span class="monitor-datas-three">1m</span>
            </div>
          </div>
          <div class="monitor-times">
              <span class="monitor-times-day">前三天</span>
          </div>
        </div>   
      </div>
      <div class="monitor">
        <!-- 上部分 -->
        <div class="monitor-top" data-sex="2">
          <span class="monitor-top-one">T12</span>
          <span class="monitor-top-two">管输收</span>
          <span class="monitor-top-three">98#汽油</span>
        </div>
        <!-- 下部分 -->
        <div class="monitor-bottom">
          <div class="monitor-bottom-picter">
            <a href="ls.html"><img src="../images/top.png" alt=""></a>
          </div>
          <div class="monitor-bottom-data">
            <div class="monitor-data-top">
              <span class="monitor-data-one">实时</span>
              <span class="monitor-data-two">4300t</span>
              <span class="monitor-data-three">4.1m</span>
            </div>
            <div class="monitor-data-top">
              <span class="monitor-datas-one">计量</span>
              <span class="monitor-datas-two">500t</span>
              <span class="monitor-datas-three">1m</span>
            </div>
          </div>
          <div class="monitor-times">
              <span class="monitor-times-day">前二天</span>
          </div>
        </div>   
      </div>
      <!-- 第四个 -->
      <div class="monitor">
        <!-- 上部分 -->
        <div class="monitor-top" data-sex="3">
          <span class="monitor-top-one">T13</span>
          <span class="monitor-top-two"></span>
          <span class="monitor-top-three">0#普柴</span>
        </div>
        <!-- 下部分 -->
        <div class="monitor-bottom">
          <div class="monitor-bottom-picter">
            <a href="ls.html"><img src="../images/hui.png" alt=""></a>
          </div>
          <div class="monitor-bottom-data">
            <div class="monitor-data-top">
              <span class="monitor-data-one">实时</span>
              <span class="monitor-data-two">4300t</span>
              <span class="monitor-data-three">4.1m</span>
            </div>
            <div class="monitor-data-top">
              <span class="monitor-datas-one">计量</span>
              <span class="monitor-datas-two">500t</span>
              <span class="monitor-datas-three">1m</span>
            </div>
          </div>
          <div class="monitor-times">
              <span class="monitor-times-day">前一天</span>
          </div>
        </div>   
      </div>
      <div class="monitor">
        <!-- 上部分 -->
        <div class="monitor-top" data-sex="3">
          <span class="monitor-top-one">T14</span>
          <span class="monitor-top-two"></span>
          <span class="monitor-top-three">0#普柴</span>
        </div>
        <!-- 下部分 -->
        <div class="monitor-bottom">
          <div class="monitor-bottom-picter">
            <a href="ls.html"><img src="../images/hui.png" alt=""></a>
          </div>
          <div class="monitor-bottom-data">
            <div class="monitor-data-top">
              <span class="monitor-data-one">实时</span>
              <span class="monitor-data-two">4300t</span>
              <span class="monitor-data-three">4.1m</span>
            </div>
            <div class="monitor-data-top">
              <span class="monitor-datas-one">计量</span>
              <span class="monitor-datas-two">500t</span>
              <span class="monitor-datas-three">1m</span>
            </div>
          </div>
          <div class="monitor-times">
              <span class="monitor-times-day">前一天</span>
          </div>
        </div>   
      </div>
      <div class="monitor">
        <!-- 上部分 -->
        <div class="monitor-top" data-sex="3">
          <span class="monitor-top-one">T15</span>
          <span class="monitor-top-two"></span>
          <span class="monitor-top-three">0#普柴</span>
        </div>
        <!-- 下部分 -->
        <div class="monitor-bottom">
          <div class="monitor-bottom-picter">
            <a href="ls.html"><img src="../images/hui.png" alt=""></a>
          </div>
          <div class="monitor-bottom-data">
            <div class="monitor-data-top">
              <span class="monitor-data-one">实时</span>
              <span class="monitor-data-two">4300t</span>
              <span class="monitor-data-three">4.1m</span>
            </div>
            <div class="monitor-data-top">
              <span class="monitor-datas-one">计量</span>
              <span class="monitor-datas-two">500t</span>
              <span class="monitor-datas-three">1m</span>
            </div>
          </div>
          <div class="monitor-times">
              <span class="monitor-times-day">前二天</span>
          </div>
        </div>   
      </div>
      <div class="monitor">
        <!-- 上部分 -->
        <div class="monitor-top" data-sex="3">
          <span class="monitor-top-one">T16</span>
          <span class="monitor-top-two"></span>
          <span class="monitor-top-three">0#普柴</span>
        </div>
        <!-- 下部分 -->
        <div class="monitor-bottom">
          <div class="monitor-bottom-picter">
            <a href="ls.html"><img src="../images/hui.png" alt=""></a>
          </div>
          <div class="monitor-bottom-data">
            <div class="monitor-data-top">
              <span class="monitor-data-one">实时</span>
              <span class="monitor-data-two">4300t</span>
              <span class="monitor-data-three">4.1m</span>
            </div>
            <div class="monitor-data-top">
              <span class="monitor-datas-one">计量</span>
              <span class="monitor-datas-two">500t</span>
              <span class="monitor-datas-three">1m</span>
            </div>
          </div>
          <div class="monitor-times">
              <span class="monitor-times-day">前一天</span>
          </div>
        </div>   
      </div>

      
      <!-- 第五个 -->
      <div class="monitor">
        <!-- 上部分 -->
        <div class="monitor-top" data-sex="4">
          <span class="monitor-top-one">T17</span>
          <span class="monitor-top-two"></span>
          <span class="monitor-top-three">0#车柴</span>
        </div>
        <!-- 下部分 -->
        <div class="monitor-bottom">
          <div class="monitor-bottom-picter">
            <a href="ls.html"><img src="../images/hui.png" alt=""></a>
          </div>
          <div class="monitor-bottom-data">
            <div class="monitor-data-top">
              <span class="monitor-data-one">实时</span>
              <span class="monitor-data-two">4300t</span>
              <span class="monitor-data-three">4.1m</span>
            </div>
            <div class="monitor-data-top">
              <span class="monitor-datas-one">计量</span>
              <span class="monitor-datas-two">500t</span>
              <span class="monitor-datas-three">1m</span>
            </div>
          </div>
          <div class="monitor-times">
              <span class="monitor-times-day">前一天</span>
          </div>
        </div>    
      </div>
      <div class="monitor">
        <!-- 上部分 -->
        <div class="monitor-top" data-sex="4">
          <span class="monitor-top-one">T18</span>
          <span class="monitor-top-two"></span>
          <span class="monitor-top-three">0#车柴</span>
        </div>
        <!-- 下部分 -->
        <div class="monitor-bottom">
          <div class="monitor-bottom-picter">
            <a href="ls.html"><img src="../images/hui.png" alt=""></a>
          </div>
          <div class="monitor-bottom-data">
            <div class="monitor-data-top">
              <span class="monitor-data-one">实时</span>
              <span class="monitor-data-two">4300t</span>
              <span class="monitor-data-three">4.1m</span>
            </div>
            <div class="monitor-data-top">
              <span class="monitor-datas-one">计量</span>
              <span class="monitor-datas-two">500t</span>
              <span class="monitor-datas-three">1m</span>
            </div>
          </div>
          <div class="monitor-times">
              <span class="monitor-times-day">前三天</span>
          </div>
        </div>    
      </div>
      <div class="monitor">
        <!-- 上部分 -->
        <div class="monitor-top" data-sex="4">
          <span class="monitor-top-one">T19</span>
          <span class="monitor-top-two"></span>
          <span class="monitor-top-three">0#车柴</span>
        </div>
        <!-- 下部分 -->
        <div class="monitor-bottom">
          <div class="monitor-bottom-picter">
            <a href="ls.html"><img src="../images/hui.png" alt=""></a>
          </div>
          <div class="monitor-bottom-data">
            <div class="monitor-data-top">
              <span class="monitor-data-one">实时</span>
              <span class="monitor-data-two">4300t</span>
              <span class="monitor-data-three">4.1m</span>
            </div>
            <div class="monitor-data-top">
              <span class="monitor-datas-one">计量</span>
              <span class="monitor-datas-two">500t</span>
              <span class="monitor-datas-three">1m</span>
            </div>
          </div>
          <div class="monitor-times">
              <span class="monitor-times-day">前三天</span>
          </div>
        </div>    
      </div>
      <div class="monitor">
        <!-- 上部分 -->
        <div class="monitor-top" data-sex="4">
          <span class="monitor-top-one">T20</span>
          <span class="monitor-top-two"></span>
          <span class="monitor-top-three">0#车柴</span>
        </div>
        <!-- 下部分 -->
        <div class="monitor-bottom">
          <div class="monitor-bottom-picter">
            <a href="ls.html"><img src="../images/hui.png" alt=""></a>
          </div>
          <div class="monitor-bottom-data">
            <div class="monitor-data-top">
              <span class="monitor-data-one">实时</span>
              <span class="monitor-data-two">4300t</span>
              <span class="monitor-data-three">4.1m</span>
            </div>
            <div class="monitor-data-top">
              <span class="monitor-datas-one">计量</span>
              <span class="monitor-datas-two">500t</span>
              <span class="monitor-datas-three">1m</span>
            </div>
          </div>
          <div class="monitor-times">
              <span class="monitor-times-day">前三天</span>
          </div>
        </div>    
      </div>

      

  </div>
  
</body>
<script src="../uploads/selfjs/monitor.js"></script>
</html>